@import '~antd/dist/antd.css';
.sider_inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.sider_inner div  {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid #666;
}
.sider_inner div a {
  margin-top: 10px;
  color: #999;
}
.content_inner{
  display: flex;
  margin-left: 50px;
}
.ant-layout-sider-light{
  background: #f0f2f5;
}
.header_login_inner{
  color:white;
}
.header_login_inner a {
  margin-left: 10px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: #666666;
}
.header div {
  margin: 0 20px;
}
.footer{
  display: flex;
  justify-content: center;
}
.sider_search{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nav div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  border-bottom: #999999 1px solid;
  padding-bottom: 10px;
}